spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:h2:mem:test

  h2:
    console:
      enabled: true


jwt:
  secret: ${JWT_SECRET}
  expiration: 900000
  refresh-expiration: 604800000