apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: user-service:local
          resources:
            requests:
              cpu: 250m
              memory: 128Mi
              ephemeral-storage: 128Mi
            limits:
              cpu: 500m
              memory: 256Mi
              ephemeral-storage: 256Mi
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          env:
          - name: POSTGRES_HOST
            value: "postgres"

          - name: POSTGRES_PORT
            value: "5432"

          - name: POSTGRES_DB
            valueFrom:
              secretKeyRef:
                name: user-service-secrets
                key: POSTGRES_DB

          - name: POSTGRES_USER
            valueFrom:
              secretKeyRef:
                name: user-service-secrets
                key: POSTGRES_USER

          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: user-service-secrets
                key: POSTGRES_PASSWORD
      automountServiceAccountToken: false
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  selector:
    app: user-service
  ports:
    - port: 80
      targetPort: 8080

